application/config/fix/spec/renda-fixa/secl.001.001.03.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--version="1.1"-->
<xs:schema elementFormDefault="qualified" targetNamespace="urn:secl.001.001.03.xsd" xmlns="urn:secl.001.001.03.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Document" type="Document" />
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="TradLegNtfctn" type="TradeLegNotificationV03" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TradeLegNotificationV03">
    <xs:sequence>
      <xs:element name="ClrMmb" minOccurs="1" maxOccurs="1" type="PartyIdentification35Choice" />
      <xs:element name="ClrAcct" minOccurs="1" maxOccurs="1" type="SecuritiesAccount18" />
      <xs:element name="TradLegDtls" minOccurs="1" maxOccurs="1" type="TradeLeg8" />
      <xs:element name="SttlmDtls" minOccurs="1" maxOccurs="1" type="Settlement1" />
      <xs:element name="SplmtryData" minOccurs="0" maxOccurs="unbounded" type="SupplementaryData1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification35Choice">
    <xs:sequence>
      <xs:element name="PrtryId" minOccurs="1" maxOccurs="1" type="GenericIdentification29" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericIdentification29">
    <xs:sequence>
      <xs:element name="Id" minOccurs="1" maxOccurs="1" type="Max35Text" />
      <xs:element name="Issr" minOccurs="1" maxOccurs="1" type="Max35Text" />
      <xs:element name="SchmeNm" minOccurs="1" maxOccurs="1" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SecuritiesAccount18">
    <xs:sequence>
      <xs:element name="Id" minOccurs="1" maxOccurs="1" type="Max35Text" />
      <xs:element name="Tp" minOccurs="1" maxOccurs="1" type="ClearingAccountType1Code" default="CLIE" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TradeLeg8">
    <xs:sequence>
      <xs:element name="TradLegId" minOccurs="1" maxOccurs="1" type="Max35Text" default="0" />
      <xs:element name="TradId" minOccurs="1" maxOccurs="1" type="Max35Text" />
      <xs:element name="TradExctnId" minOccurs="1" maxOccurs="1" type="Max35Text" />
      <xs:element name="TradDt" minOccurs="1" maxOccurs="1" type="ISODateTime" />
      <xs:element name="SttlmDt" minOccurs="1" maxOccurs="1" type="DateFormat15Choice" />
      <xs:element name="FinInstrmId" minOccurs="1" maxOccurs="1" type="SecurityIdentification14" />
      <xs:element name="BuySellInd" minOccurs="1" maxOccurs="1" type="Side1Code" />
      <xs:element name="TradQty" minOccurs="1" maxOccurs="1" type="FinancialInstrumentQuantity1Choice" />
      <xs:element name="DealPric" minOccurs="1" maxOccurs="1" type="Price4" />
      <xs:element name="GrssAmt" minOccurs="0" maxOccurs="1" type="AmountAndDirection21" />
      <xs:element name="PlcOfTrad" minOccurs="1" maxOccurs="1" type="MarketIdentification20" />
      <xs:element name="PlcOfListg" minOccurs="1" maxOccurs="1" type="MarketIdentification21" />
      <xs:element name="TradTp" minOccurs="1" maxOccurs="1" type="TradeType1Code" default="LKTR" />
      <xs:element name="TradgPty" minOccurs="1" maxOccurs="1" type="PartyIdentification35Choice" />
      <xs:element name="TradRegnOrgn" minOccurs="1" maxOccurs="1" type="Max50Text" />
      <xs:element name="TradgCpcty" minOccurs="1" maxOccurs="1" type="TradingCapacity5Code" default="PRIN" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateFormat15Choice">
    <xs:sequence>
      <xs:element name="Dt" minOccurs="1" maxOccurs="1" type="ISODate" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SecurityIdentification14">
    <xs:sequence>
      <xs:element name="OthrId" minOccurs="1" maxOccurs="1" type="OtherIdentification1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OtherIdentification1">
    <xs:sequence>
      <xs:element name="Id" minOccurs="1" maxOccurs="1" type="Max35Text" />
      <xs:element name="Tp" minOccurs="1" maxOccurs="1" type="IdentificationSource3Choice" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IdentificationSource3Choice">
    <xs:sequence>
      <xs:element name="Prtry" minOccurs="1" maxOccurs="1" type="Max35Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstrumentQuantity1Choice">
    <xs:sequence>
      <xs:element name="Unit" minOccurs="1" maxOccurs="1" type="DecimalNumber" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Price4">
    <xs:sequence>
      <xs:element name="Val" minOccurs="1" maxOccurs="1" type="PriceRateOrAmountChoice" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PriceRateOrAmountChoice">
    <xs:sequence>
      <xs:element name="Amt" minOccurs="1" maxOccurs="1" type="ActiveOrHistoricCurrencyAnd13DecimalAmount" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AmountAndDirection21">
    <xs:sequence>
      <xs:element name="Amt" minOccurs="1" maxOccurs="1" type="ActiveOrHistoricCurrencyAndAmount" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MarketIdentification20">
    <xs:sequence>
      <xs:element name="Tp" minOccurs="1" maxOccurs="1" type="MarketType8Choice" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MarketType8Choice">
    <xs:sequence>
      <xs:element name="Cd" minOccurs="1" maxOccurs="1" type="MarketType2Code" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MarketIdentification21">
    <xs:sequence>
      <xs:element name="Id" minOccurs="1" maxOccurs="1" type="MarketIdentification1Choice" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MarketIdentification1Choice">
    <xs:sequence>
      <xs:element name="MktIdrCd" minOccurs="1" maxOccurs="1" type="MICIdentifier" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MarketType9Choice">
    <xs:sequence>
      <xs:element name="Cd" minOccurs="1" maxOccurs="1" type="MarketType5Code" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Settlement1">
    <xs:sequence>
      <xs:element name="SttlmAmt" minOccurs="1" maxOccurs="1" type="AmountAndDirection27" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AmountAndDirection27">
    <xs:sequence>
      <xs:element name="Amt" minOccurs="1" maxOccurs="1" type="ActiveCurrencyAndAmount" default="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SupplementaryData1">
    <xs:sequence>
      <xs:element name="PlcAndNm" minOccurs="0" maxOccurs="1" type="Max350Text" />
      <xs:element name="Envlp" minOccurs="1" maxOccurs="1" type="SupplementaryDataEnvelope1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SupplementaryDataEnvelope1">
    <xs:sequence>
      <xs:element name="Cnts" minOccurs="1" maxOccurs="1" type="SupplementaryDataContents1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SupplementaryDataContents1">
    <xs:sequence>
      <xs:any namespace="urn:SUPL.secl.001.001.03.xsd" processContents="lax" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ActiveCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ActiveCurrencyAndAmount">
    <xs:simpleContent>
      <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
        <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="5" />
      <xs:minInclusive value="0" />
      <xs:totalDigits value="18" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ActiveOrHistoricCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{3,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ActiveOrHistoricCurrencyAnd13DecimalAmount">
    <xs:simpleContent>
      <xs:extension base="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
        <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="13" />
      <xs:totalDigits value="18" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
    <xs:simpleContent>
      <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="TradingCapacity5Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AGEN" />
      <xs:enumeration value="PRIN" />
      <xs:enumeration value="RISP" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="5" />
      <xs:minInclusive value="0" />
      <xs:totalDigits value="18" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DecimalNumber">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="17" />
      <xs:totalDigits value="18" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISINIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{12,12}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"></xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"></xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MarketType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EXCH" />
      <xs:enumeration value="OTCO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max350Text">
    <xs:restriction base="xs:string">
      <xs:maxLength value="350" />
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:maxLength value="35" />
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max50Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{4,4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TradeType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LKTR" />
      <xs:enumeration value="OOBK" />
      <xs:enumeration value="GUTR" />
    </xs:restriction>
  </xs:simpleType>
   <xs:simpleType name="ClearingAccountType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLIE" />
      <xs:enumeration value="HOUS" />
      <xs:enumeration value="LIPR" />
    </xs:restriction>
  </xs:simpleType>
   <xs:simpleType name="MarketType5Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OTCO" />
      <xs:enumeration value="EXCH" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Side1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BUYI" />
      <xs:enumeration value="SELL" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>